<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:transaction="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
  <context:annotation-config/>
  <context:component-scan base-package="org.example"/>

  <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
    <property name="driverClass" value="org.h2.Driver"/>
    <property name="jdbcUrl" value="jdbc:h2:file:./audit"/>
    <property name="username" value="sa"/>
    <property name="password" value=""/>
    <property name="idleConnectionTestPeriodInSeconds" value="120"/>
    <property name="idleMaxAgeInSeconds" value="240"/>
    <property name="maxConnectionsPerPartition" value="2"/>
    <property name="minConnectionsPerPartition" value="1"/>
    <property name="partitionCount" value="1"/>
    <property name="acquireIncrement" value="1"/>
    <property name="statementsCacheSize" value="100"/>
  </bean>

  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="jpaProperties">
      <props>
        <prop key="hibernate.globally_quoted_identifiers">false</prop>
        <prop key="org.hibernate.envers.audit_table_suffix">_audit</prop>
        <prop key="org.hibernate.envers.revision_field_name">revision</prop>
        <prop key="org.hibernate.envers.revision_type_field_name">revision_type</prop>
      </props>
    </property>
    <property name="jpaVendorAdapter">
      <bean id="hibernateJpaAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
        <property name="generateDdl" value="true"/>
        <property name="showSql" value="true"/>
      </bean>
    </property>
    <property name="packagesToScan" value="org.example.domain"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>

  <jpa:repositories base-package="org.example.data" factory-class="org.springframework.data.envers.repository.support.EnversRevisionRepositoryFactoryBean"/>

  <transaction:annotation-driven mode="aspectj" transaction-manager="transactionManager"/>
</beans>
